
{% extends 'base.html' %}
{% load static %}
{% block title %} Mission {% endblock %}
{% block content %}

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->

    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Mission & Goals</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a href="/">Home</a>
                        <span> / </span>
                        <a href="#" class="active">Mission & Goal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->

    <!-- rts faq section area -->
    <div class="rts-faq-section rts-section-gap rts-faq-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail-faq-four">
                        <img src="/static/assets/images/faq/02.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-two-inner">
                        <div class="title-area-faq">
                            <span class="sub">MFDP</span>
                            <h3 class="title">Our Progressive statement</h3>
                        </div>
                        <!-- faq accordion area -->
                        <div class="faq-accordion-area">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span>01. </span> Our Mission
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our mission is to provide sound financial management, facilitate development planning,
                                            and promote effective public resource allocation to achieve sustainable economic growth
                                            and development in our country.


                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <span>02. </span> Our Vision
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our vision is to be a leading institution in driving economic development, 
                                            ensuring fiscal responsibility, and fostering a prosperous and inclusive society.

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <span>03. </span> Our Core Values
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Transparency: Simply making information available is not sufficient to achieve transparency. At the MFDP, we act visibly, predictably and understandably to promote participation and accountability.
                                                </p>
                                            </div>
                                            
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Accountability: We ensure that ALL individuals within the MFDP are answerable for all of their actions, and that there is redress when duties and commitment are not met.
                                                </p>
                                            </div>
                                            
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Integrity: A strict adherence to moral and ethical principles is encouraged, with ABSOLUTELY ZERO TOLERANCE FOR CORRUPTION!!!
                                                </p>
                                            </div>
                                            
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Service orientation: Ensuring timely, courteous and customer-focused consistent delivery of services, the MFDP remains in icon of service delivery.
                                                </p>
                                            </div>
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Effective Communication: The Ministry ensures an efficient and effective communication process where messages are delivered promptly in a well-articulated manner to the intended audiences.
                                                </p>
                                            </div>
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Innovation: Harnessing new ideas, tools and technologies, the MFDP brings innovation and value to service delivery.
                                                </P>
                                            </div>
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Commitment: The MFDP remains focused in ensuring that all of our employees work assiduously to promote the organization’s vision and mission.
                                                </p>
                                            </div>
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Teamwork: The process of working collaboratively with a group of people in order to achieve a goal.
                                                </p>
                                            </div>
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Results Focused: At the MFDP, organizational goals and outcomes are best quantifiable in terms of the SMART (S=Simple, M=Measurable, A=Achievable, R=Relevant and T=Timely) approach.
                                                </p>
                                            </div>
                                            <div class="single-project-details-challenge">
                                                <div class="icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <p class="details">
                                                    Efficiency: A leaner and more efficient MFDP translates into productivity, and elimination of waste and abuse.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- faq accordion area end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts faq section area End -->
    

    <!-- start customers faq section -->
    <div class="rts-faq-area rts-section-gap inner">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-12 order-xl-1 order-md-2 order-sm-2 order-2">
                    <div class="accordion-area inner">
                        <div class="title-area">
                            <span>Our Functions</span>
                            <h2 class="title">Key Functions of MFDP</h2>
                        </div>
                        <!-- <div class="accordion-one-inner">
                        
                            <div class="accordion" id="accordionExample2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span>01.</span> What should i included my personal details?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            Neque partrient sed nascetur facilisis suscipit ridiculus magna lobortis imperdiet vivamus est aliquam euismod nector quam convallis ornare justo service visionary sources unleash online
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <span>02.</span> Where i can find my business growth result?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            Neque partrient sed nascetur facilisis suscipit ridiculus magna lobortis imperdiet vivamus est aliquam euismod nector quam convallis ornare justo service visionary sources unleash online
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <span>03.</span> Did you get any business consultant?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            Neque partrient sed nascetur facilisis suscipit ridiculus magna lobortis imperdiet vivamus est aliquam euismod nector quam convallis ornare justo service visionary sources unleash online
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <span>04.</span> Did you get any business consultant?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            Neque partrient sed nascetur facilisis suscipit ridiculus magna lobortis imperdiet vivamus est aliquam euismod nector quam convallis ornare justo service visionary sources unleash online
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row g-5">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pr--80">
                                <div class="single-project-details-challenge">
                                    <div class="icon">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <p class="details">
                                        <b>Economic Policy Formulation:</b> We develop and implement policies that promote economic growth, stability, and diversification. We analyze economic trends, conduct research, and provide policy advice to the government and other stakeholders.

                                    </p>
                                </div>
                                <div class="single-project-details-challenge">
                                    <div class="icon">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <p class="details">
                                       <b>Budget Planning and Management:</b>  We are responsible for the preparation and implementation of the national budget. We ensure that resources are allocated efficiently and in line with development priorities.

                                    </p>
                                </div>
                                <div class="single-project-details-challenge">
                                    <div class="icon">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <p class="details">
                                        <b>Development Planning and Coordination:</b> We coordinate the formulation and implementation of national development plans and strategies. We work closely with other ministries and stakeholders to ensure alignment of development priorities and effective utilization of resources.

                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pr--80">
                                <div class="single-project-details-challenge">
                                    <div class="icon">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <p class="details">
                                        <b>Revenue Generation and Management:</b> We oversee the collection and management of government revenue through various channels such as taxation, customs, and non-tax sources. We aim to enhance revenue generation while ensuring transparency and accountability.

                                    </p>
                                </div>
                                <div class="single-project-details-challenge">
                                    <div class="icon">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <p class="details">
                                        <b>Public Financial Management:</b> We establish and implement financial management systems and procedures to ensure the effective and efficient use of public funds. We promote transparency, accountability, and good governance in financial management practices.

                                    </p>
                                </div>
                                
                                <div class="single-project-details-challenge">
                                    <div class="icon">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <p class="details">
                                        <b>International Cooperation:</b> We represent the country in international financial and economic institutions. We engage in international cooperation to access financial resources, technical assistance, and knowledge sharing for sustainable development.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End customers faq section -->

{% endblock %}